li {
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: aliceblue;
}

li img {
    /* width: 300px; */
}

.card-text h2 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.heart-icon {
    font-size: 2rem;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    li {
        flex-direction: column;
    }
    li img {
        align-self: center;
        width: 300px;
    }
}