ul {
    width: 80vw;
}

li {
    /* display: grid; */
    /* grid-gap: 20px; */
    /* grid-template-columns: 0.35fr 1fr; */
    display: flex;
    list-style: none;
    gap: 1%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(40, 40, 40, 1);
    border-radius: 10px;
    background-image: linear-gradient(45deg, #fdfbfbac 0%, #ebedee21 100%);
    color: rgba(40, 40, 40, 1);
    width: 100%;
}

.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgba(48, 207, 208, .5) 0%, rgba(51, 8, 103, .1) 100%);
    border-radius: .5rem;
    width: 30%;
}

.image-section img {
    border-radius: 0.5rem;
    width: 100%;
    object-fit: contain;
}

.card-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.card-text h2 {
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 95%;
    font-weight: 500;
}

p {
    font-size: 1.25rem;
}

.category {
    font-weight: bold;
}

.redirect:hover {
    cursor: pointer;
    color: #0ba4b5;
}

.heart-icon {
    font-size: 3rem;
    cursor: pointer;
}


.favLine {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


.download-btn {
    cursor: pointer;
    background-color: #f7d7489d;
    color: rgba(40, 40, 40, 1);
    padding: .5em 1em;
    font-size: 1.4em;
    border-radius: 0.5rem;
    max-width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.download-btn:hover {
    filter: brightness(70%);
}

@media only screen and (max-width: 1000px) {

    li {
        display: flex;
        flex-direction: column;
        width: 95%;
        gap: 1rem;
    }

    li h2 {
        font-size: 1.5rem;
    }

    li p {
        font-size: 1.1rem;
    }

    .image-section {
        align-self: center;
    }

    .image-section img {
        object-fit: contain;
        min-width: 15em;
    }

    html {
        font-size: 14px;
    }
}
