.login-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255) !important;
    border-radius: 10px;
    min-width: 500px;
    padding: 30px 60px;
    gap: 1.5rem;
    box-shadow: 0px 0px 2rem rgba(40, 40, 40, 0.75);
    opacity: 0;
    animation: popup 0.35s 0.15s linear forwards;
}

.login-box h2 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.login-button-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.login-button-section span {
    font-weight: medium;
    font-size: 0.9rem;
    margin: 0.1rem 0rem;
}

.login-button-section span span {
    font-weight: bold;
    font-size: 0.95rem;
}

.login-button-section span span:hover {
    cursor: pointer;
    color: #0ba4b5;
}

.login-button-section hr {
 width: 100%;
 color: rgba(0, 0, 0, 0.75);
 margin-top: 1rem;
 margin-bottom: 1rem;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 100%;
    background-color: #00e5ff;
    font-weight: bold;
    font-size: 1.10rem;
    border: none;
    box-shadow: 0 0 3px #0000005e;
    border-radius: 0.35rem;
}

.login-button:hover {
    filter: brightness(95%);
    cursor: pointer;
    color: #ffffff;
}

h1.login-logo {
    color: rgba(34, 34, 34, 0.912);
    border: 0.15rem solid rgba(42, 42, 42, 0.865);
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Satisfy', sans-serif;
    align-self: center;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pwDiff {
    font-weight: 300;
    font-size: 1rem;
    color: red;
}

@media only screen and (max-width: 1000px) {
    
    .login-box {
        min-width: 100px !important;
    }
    
 }