@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


nav {
    padding: 0.5em 1em;
    background-image: linear-gradient(-120deg, #fdfbfb96 0%, #ebedee21 70%);
    position: fixed;
    top: 0;
    width: 100vw;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 1px rgba(42, 42, 42, 0.865);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
}

nav h1 {
    color: rgba(34, 34, 34, 0.912);
    border: 0.15rem solid rgba(42, 42, 42, 0.865);
    border-radius: 5px;
    padding: 1rem;
    font-family: 'Satisfy', sans-serif;
}

@keyframes hidenav {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes shownav {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.logout {
    font-weight: bold;
    background-color: #20c7d981;
    padding: 1rem;
    border: none;
    border-radius: 0.35rem;
    font-size: 1.1rem;
}

.logout:hover {
    filter: brightness(80%);
    cursor: pointer;
    color: #ffffff;
}

#nav-user-section {
    display: flex;
    gap: 2rem;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}

#nav-user-section span:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 1000px) { 

    nav {
        justify-content: center;
        opacity: 1;
        animation: shownav 0.15s linear forwards;
    }

    
}