.search-box {
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
}

.search-box button {
    font-weight: bold;
    background-color: #20c7d981;
    padding: 1rem;
    border: none;
    border-radius: 0.35rem;
    font-size: 1.1rem;
    color: black;
}

.search-box button:hover {
    filter: brightness(80%);
    cursor: pointer;
    color: #ffffff;
}