
#toTopContainer {
    position: fixed;
    right: 2.5rem;
    bottom: 5rem;
    font-size: 5rem;
    animation: toTopAnim 3s linear infinite;
}

#toTopContainer:hover {
    cursor: pointer;
    filter: brightness(80%);
}

@keyframes toTopAnim {
    0% {
        transform: translateY(0vh);
    }

    50% {
        transform: translateY(1.5vh);
    }

    100% {
        transform: translateY(0vh);
    }
}


@media only screen and (max-width: 1000px) {
    #toTopContainer {
        opacity: 0.7;
        font-size: 4rem;
        right: 1.5rem;
        bottom: 5rem;
     }
 }